@model IEnumerable<HostelOsis.Models.ViewModel.OccupantViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Manage Occupants</h1>

   
<p>
    <a asp-action="Create" class="btn btn-outline-info">Create New</a>
</p>
<hr>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: center;
        padding: 8px;
       
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: dodgerblue;
        color: white;
    }
</style>

<table class="table" >
    <thead>
        <tr>


            <th>
                @Html.DisplayNameFor(model => model.Firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Firstname)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.OccupantID">Edit</a> |
                <a asp-action="Details" class="btn btn-info" asp-route-id="@item.OccupantID">Details</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.OccupantID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

