@model IEnumerable<HostelOsis.Models.ViewModel.BookingViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Bookings</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-info">Create New</a>
</p>
<hr>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        text-align: center;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: dodgerblue;
        color: white;
    }
</style>

<table class="table">
    <thead>
        <tr>


            <th>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>

            <th>
                Actions
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ArrivalDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartureDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoomNumber)
                </td>


                <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.BillID">Edit</a> |
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.BillID">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.BillID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>



