@model IEnumerable<HostelOsis.Models.ViewModel.FloorViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Floors</h1>


<p>
    <a asp-action="Create" class="btn btn-outline-info">Create New</a>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

</p>
<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        text-align:center;

    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }

    th {
        background-color: dodgerblue;
        color: white;
    }
</style>
<hr>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FloorName)
            </th>

            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FloorName)
                </td>

                <td>
                    <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.FloorID">Edit</a> |
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.FloorID">Details</a> |
                    <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.FloorID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

